<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shlogis.groupware.groupwareapi.sample.mapper.SampleMapper">

    <!-- 공통 resultMap -->
    <resultMap id="UserResultMap" type="com.example.demo.dto.UserDto">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!-- mapper 호출 샘플-->
    <select id="selectAllListUser" parameterType="string" resultMap="com.shlogis.groupware.groupwareapi.sample.dto.sampleDto">
        SELECT id, name
        FROM users
    </select>
</mapper>